body {
    margin: 0;
    padding: 0;
}


.button-container {
    max-width: 100vw;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    background-image: linear-gradient(270deg, #cc6aa5, #3e91cc, #2dcca7);
    background-size: 600% 100%;
    -webkit-animation: bg-pan-right 10s ;
    animation: bg-pan-right 10s ease-in-out infinite;
}

.view-more {
    border: none;
    max-width: 500px;
    height: 200px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
}

.view-more__link {
    color:white;
    text-decoration: none;
    font-size: 2rem;
}

.view-more:hover {
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid white;
    -webkit-box-shadow: -12px 0px 22px -6px rgba(97, 96, 97, 1);
    -moz-box-shadow: -12px 0px 22px -6px rgba(97, 96, 97, 1);
    box-shadow: -12px 0px 22px -6px rgba(97, 96, 97, 1);
    margin-left:10px;
}

@-webkit-keyframes bg-pan-right {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

@keyframes bg-pan-right {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}